body {
    font-family: 'Lora', serif;
    color: #FFFBFf;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #686565;
}

.home {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Materials/backgroug-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    height: 100vh;
}

.home__header {
/*        border: 1px #000000 solid;*/
height: 0;
    padding: 20px;
}

.logo {
/*    border: 1px solid;*/

    float: left;
    font-size: 40px;
}

.container {
    float: right;
    width: 50%;
    position: relative;
}

.container li {
    display: inline-block;
    margin: 15px;
}

.container ul {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-right: inherit;
}


/* .take {} */

.take a {
    padding: 10px 15px;
    border: 1px solid #F8F3F3;
    border-radius: 100px;
    text-decoration: none;
}

.take a:hover {
    transition: 0.7s;
    background: #FEF7F7;
    color: #000000;
}

.home__content {
    position: relative;
    top: 40%;
    left: 5%;
    width: 90%;
    height: 50%;
    padding: 30px;
    transform: translateY(-50%);
}

.home__content li {
    position: relative;
    display: flex;
    margin: 15px;
    height: 15%;
}

.home__content  ul{
    position: absolute;
    padding-right: inherit;
}
.sus{
    height: 10px;
    font-size: 30px;
    width: 50%;
    left: 30%;
}
.starts {
    font-size: 100px;
}
.learn{
    display:block;
}
.learn a{
    font-size: 30px;
    margin:0% 0% 0% 25%;
    padding: 15px 45px 26px 15px;
    background: rgb(54,179,168);
    border-radius: 100px;
}
.learn a:hover{
    color: #FFFFFF;
    background:linear-gradient(to bottom,rgba(54,179,168,0.2),rgb(54,179,168)) ;
}